* {
  margin: 0;
  padding: 0;
}

.chatInterface,
.chat {
  display: flex;
}

.chat {
  flex-direction: column;
}

.close {
  display: none !important;
}

.open {
  display: block;
}
.history {
  width: 18rem;
  height: 100vh;
  border: 1px solid #f0f0f0;
  font-family: "Inter", sans-serif;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    &--title {
      padding: 0.5rem;
      padding-left: 1.6rem;
      font-size: 1rem;
    }
    &--add {
      display: flex;
      align-items: center;
      color: var(--primary-color);
      font-size: 24px;
      cursor: pointer;
      margin-right: 1.5rem;
    }
  }
  &__search {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem 1.5rem 0.5rem 1.6rem;

    Input {
      width: 10rem;
      padding: 1rem;
    }
  }
  &__chatlist {
    height: 81vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 0rem;
    &--item {
      font-size: 0.9rem;
      font-weight: 500;
      cursor: pointer;
      div {
        display: flex;
        justify-content: space-between;
        span {
          color: #1f1f1f80;
        }
      }
      margin: 0.2rem auto;
      width: 16rem;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      p,
      span {
        padding: 0.8rem 0.8rem;
        color: #1f1f1f80;
      }
      div p {
        color: #666666;
      }
    }
    &--item:hover {
      background-color: var(--primary-color);
    }
  }
  :where(.css-dev-only-do-not-override-15rg2km).ant-input-group
    .ant-input-group-addon {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.02);
    border: none;
    border-radius: 6px;
  }

  :where(.css-dev-only-do-not-override-15rg2km).ant-input {
    border: none;
    background-color: rgba(0, 0, 0, 0.02);
  }
  :where(.css-dev-only-do-not-override-15rg2km).ant-card:not(
      .ant-card-bordered
    ) {
    box-shadow: none;
  }
}

.chat {
  width: 75.52vw;
  height: 100vh;
  &__display,
  &__messages {
    height: 80%;
  }
  &__input {
    height: 15%;
    display: flex;
    justify-content: center;
  }
  :where(.css-dev-only-do-not-override-15rg2km).ant-card .ant-card-body {
    cursor: pointer;
    font-weight: 300;
    min-height: 7rem;
    padding: 24px;
    border-radius: 0 0 8px 8px;
  }
}

//chat

:where(.css-dev-only-do-not-override-15rg2km).ant-row {
  margin: auto !important;
  // padding: 0.5rem;
  .ant-card {
    margin: 0rem 0.25rem;
    background-color: #efedea;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  &__display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--heading {
      margin-bottom: 2rem;
    }
    &--examples {
      :where(.css-dev-only-do-not-override-15rg2km).ant-card .ant-card-head {
        font-size: 0.7rem;
        display: none;
      }
      :where(.css-dev-only-do-not-override-15rg2km).ant-card {
        font-size: 0.7rem;
        text-align: center;
      }
    }
  }
  &__input {
    width: 80%;
    margin: auto;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--form {
      background-color: #efedea;
      border-radius: 0.5rem;
      width: 75%;
      :where(.css-dev-only-do-not-override-1ewbn81).ant-space-compact {
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
          0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;
        filter: none !important;
      }

      :where(.css-dev-only-do-not-override-1ewbn81).ant-form-item
        .ant-form-item-control-input-content {
        display: flex;
        max-width: 100%;
      }
      :where(.css-dev-only-do-not-override-1ewbn81).ant-form-item {
        margin-bottom: 0px !important ;
      }
    }
    &--role {
      width: 50%;
      padding: 0.5rem;
      :where(.css-dev-only-do-not-override-1ewbn81).ant-select-single:not(
          .ant-select-customize-input
        )
        .ant-select-selector {
        border: none;
        
      }
    }
    :where(.css-dev-only-do-not-override-1ewbn81).ant-form label {
      font-size: 14px;
    }
    &--field {
      Button {
        background-color: white !important;
        height: 2.5rem;
      }
      Input {
        border: none;
        height: 2.5rem;
      }
      border-radius: 0.5rem;
    }

    &--microphone {
      padding: 0.5rem 0rem;
      padding-top: 3.5rem;
      font-size: 170% !important ;
      height: 1.5rem;
      margin-right: 1rem;
    }
    &--microphone,
    .chat__icon {
      color: var(--primary-color);
      font-size: 120%;
      cursor: pointer;
    }
  }
}

.head {
  .ant-card {
    background-color: white !important;
    border: none;
  }
}
:where(.css-dev-only-do-not-override-15rg2km).ant-col-8 {
  min-width: 16rem;
  max-width: 18rem;
}

.right-arrow {
  color: var(--primary-color);
}

//messages

.chat {
  font-family: "Inter", sans-serif;
  &__messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 80%;
    margin-bottom: 1rem;

    &--content {
      width: 70%;
      display: flex;
    }
    &--icon {
      padding: 1rem;
    }
    &--message {
      padding: 1rem;
      font-size: 14px;
    }
    &--images{
      img{
        max-width: 20rem;
      }
      display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;

    }
  }
}



.response__color,
.message__color {
  display: flex;
  justify-content: center;
  width: 100%;
}

.response__color {
  background-color: #f9f7f4;
}

.message__icon {
  background-color: rgba(255, 255, 255, 0.348);
  border-radius: 50%;
}

.Generating{
  width: max-content;
  margin: auto;
}

.activeChat{
  background-color: var(--primary-color);
  div p{
    color: black;
  }
}

