spacy
openai
PyPDF2
uvicorn
fastapi
tiktoken
requests
pydantic
requests
docx2txt
langchain
streamlit
python-dotenv
beautifulsoup4
python-multipart
googlesearch-python
google_images_search
SpeechRecognition

